$buttonOptions: (
  componentName: button,
  styles: (
    background-color: red,
  ),
  variations: (
    primary: (
      styles: (
        background-color: var(--color-brand-500),
        color: var(--color-neutral-0),
        border-color: var(--color-transparent),
      ),
      variations: (
        hover: (
          styles: (
            background-color: var(--color-brand-600),
          ),
        ),
        disabled: (
          variations: (
            hover: (
              styles: (
                background-color: var(--color-brand-500),
                color: var(--color-neutral-0),
              ),
            ),
          ),
        ),
      ),
    ),
  ),
  sizes: (
    styles: (
      padding: (
        "0.1875rem 0.5rem",
        "0.3125rem 0.5rem",
        "0.3125rem 1rem",
      ),
      height: (
        "auto",
      ),
      border-width: (
        var(--concept-basic_borderWidth),
      ),
      border-radius: (
        var(--concept-basic_borderRadius),
      ),
      font-size: (
        "0.750rem",
        "0.750rem",
        "0.875rem",
      ),
      line-height: (
        "1rem",
        "1rem",
        "1.125rem",
      ),
    ),
    elements: (
      icon: (
        styles: (
          font-size: (
            0.625rem,
            1rem,
            1.125rem,
          ),
        ),
        variations: (
          left: (
            styles: (
              margin-right: (
                0.25rem,
                0.25rem,
                0.5rem,
              ),
            ),
          ),
          right: (
            styles: (
              margin-left: (
                0.25rem,
                0.25rem,
                0.5rem,
              ),
            ),
          ),
        ),
      ),
    ),
  ),
);
